apiVersion: v1
kind: Service
metadata:
  name: config-svc
spec:
  clusterIP: None
  selector:
    app: configsvr
  ports:
    - port: 27019
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: configsvr
spec:
  serviceName: config-svc
  replicas: 1
  selector:
    matchLabels:
      app: configsvr
  template:
    metadata:
      labels:
        app: configsvr
    spec:
      containers:
      - name: mongo
        image: mongo:6
        command:
          - mongod
          - "--configsvr"
          - "--replSet=configRepl"
          - "--port=27019"
          - "--bind_ip_all"