.post-img {
    display: block;
    max-height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-user-picutre {
    display: block;
    max-height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.post-profile-picutre {
    display: block;
    max-height: 50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.comment-reply {
    margin-left: 30px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}
