{% macro draw_sub_card(sub_name, followers, is_following) %}
<div class="row">
    <div class="col">
        <div class="card" style="margin-top: 25px;">
            <div class="card-body" style="margin-top: 0px;">
                <div class="d-flex justify-content-start">
                    <div class="p-2">
                        <p>
                            r/{{ sub_name }}
                        </p>
                    </div>

                    <div class="p-2">
                        <div class="row mx-4">
                            <p>
                               Followers: {{ followers }}
                            </p>
                        </div>
                    </div>

                    <div class="p-2">
                        {% if is_following %}
                        <form action="/ajax/unfollow" method="get">
                            <input type="hidden" name="subreddit" value="{{ sub_name }}">
                            <button type="submit" class="btn btn-outline-primary">Unfollow</button>
                        </form>
                            
                        {% else %}
                            <form action="/ajax/follow" method="get">
                                <input type="hidden" name="subreddit" value="{{ sub_name }}">
                                <button type="submit" class="btn btn-primary">Follow</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}